EXPO_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
EXPO_PUBLIC_MISTRAL_API_KEY=your-mistral-api-key
EXPO_PUBLIC_MISTRAL_MODEL=mistral-small-latest
EXPO_PUBLIC_AI_PROVIDER=mistral
EXPO_PUBLIC_MISTRAL_BASE_URL=https://api.mistral.ai
DATABASE_URL=postgresql://postgres.aaxybxgfdaqicjldnrhm:[YOUR-PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres.aaxybxgfdaqicjldnrhm:[YOUR-PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:5432/postgres
