EXPO_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
EXPO_PUBLIC_GOOGLE_GENERATIVE_AI_API_KEY=your-google-ai-api-key
DATABASE_URL=postgresql://postgres.aaxybxgfdaqicjldnrhm:[YOUR-PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres.aaxybxgfdaqicjldnrhm:[YOUR-PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:5432/postgres
